// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "aaw-mini.dts"
#include <dt-bindings/input/input.h>

/ {
	model = "AAWireless Nano";
};

&pwnbtn {
	rockchip,pins = <3 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
};

&pwm_leds {
	rgb-red {
		active-low;
	};

	rgb-green {
		active-low;
	};

	rgb-blue {
		active-low;
	};
};