// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "rv1103b.dtsi"
#include <dt-bindings/input/input.h>

/ {
	compatible = "rockchip,aaw3", "rockchip,rv1103b";

	chosen {
		bootargs = "rk_dma_heap_cma=8M console=ttyS0,115200 earlycon=uart8250,mmio32,0x20540000 net.ifnames=0 biosdevname=0";
	};

	vdd_arm: vdd-arm {
		compatible = "regulator-fixed";
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <724000>;
		regulator-max-microvolt = <1078000>;
		regulator-init-microvolt = <950000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vcc5v0_usb: vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable>;
		reset-gpios = <&gpio0 RK_PA0 GPIO_ACTIVE_LOW>;
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_wake_host>;
		WIFI,host_wake_irq = <&gpio2 RK_PA6 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		uart_rts_gpios = <&gpio2 RK_PB2 GPIO_ACTIVE_LOW>;
		BT,power_gpio = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio = <&gpio1 RK_PC0 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio2 RK_PA7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart2m1_rtsn_pins &uart2m1_ctsn_pins &bluetooth_enable>;
		pinctrl-1 = <&uart2m1_rtsn_gpio &bluetooth_enable>;
		status = "okay";
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		status = "okay";

		F15 {
			gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_LOW>;
			label = "KEY_F15";
			linux,code = <KEY_F15>;
			linux,input-type = <1>;
			gpio-key,wakeup = <1>;
			debounce-interval = <5>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwrbtn>;
		};
	};

	pwm_leds: pwm-leds {
		compatible = "pwm-leds";
		status = "okay";

		led-red {
			label = "rgb-red";
			pwms = <&pwm0_4ch_3 0 1000000 0>;
			linux,default-trigger = "none";
		};

		led-green {
			label = "rgb-green";
			pwms = <&pwm0_4ch_0 0 1000000 0>;
			linux,default-trigger = "default-on";
		};

		led-blue {
			label = "rgb-blue";
			pwms = <&pwm2_4ch_1 0 1000000 0>;
			linux,default-trigger = "none";
		};
	};
};

&rng {
	status = "okay";
};

&u2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
	vbus-supply = <&vcc5v0_usb>;
	rockchip,vbus-always-on;
};

&usbdrd {
	status = "okay";
};

&usbdrd_dwc3 {
	extcon = <&u2phy>;
	dr_mode = "otg";
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&fspi0 {
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

&pinctrl {
	gpio {
		uart2m1_rtsn_gpio: uart2m1-rtsn-gpio {
			rockchip,pins = <2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		led_red_pin: led-red-pin {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		led_green_pin: led-green-pin {
			rockchip,pins = <0 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		led_blue_pin: led-blue-pin {
			rockchip,pins = <1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		mfi_reset: mfi-reset {
			rockchip,pins = <1 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sdio-pwrseq {
		wifi_enable: wifi-enable {
			rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_wake_host: wifi-wake-host {
			rockchip,pins = <2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wireless-bluetooth {
		bluetooth_enable: bluetooth-enable {
			rockchip,pins = <1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>, <1 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	key {
		pwrbtn: pwrbtn {
			rockchip,pins = <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&sdmmc1 {
	max-frequency = <200000000>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	non-removable;
	rockchip,default-sample-phase = <90>;
	sd-uhs-sdr104;
	supports-sdio;
	mmc-pwrseq = <&sdio_pwrseq>;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m1_xfer_pins &uart2m1_ctsn_pins>;
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m1_xfer_pins &mfi_reset>;
};

&pwm0_4ch_0 {
	status = "okay";
};

&pwm0_4ch_3 {
	status = "okay";
};

&pwm2_4ch_1 {
	status = "okay";
};

&tsadc {
	status = "okay";
};
